@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@theme {
    --font-family: "Roboto Mono", monospace;
    --color-bg: #e5e7eb;
    --color-text-blue: #3b82f6;
    --color-text-black: #1f2937;
}